<!DOCTYPE html>
<html>
<head>
    <title>Orkney ANM Data Graph</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body style="text-align: center">
    <img src="{{ graph_image }}" alt="SSE Data Graph" style="max-width: 100%;">
    <a class="btn waves-effect waves-green" href="/" style="position: absolute; top: 5px; left: 5px;">← Back to graph tool</a>
</body>
</html>
